.App {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

h1,
p {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 0.35rem;
    margin: 0.4rem;
    margin-bottom: 1rem;
}

.guess {
    width: 16rem;
    height: 16rem;
    margin-bottom: 1rem;
}

.correctAnswer {
    text-align: center;
    color: seagreen;
}

.incorrectAnswer {
    text-align: center;
    color: indianred;
}
